body {
  background-color: #e5e5e5;
}
header {
  width: 100%;
  height: 0.42rem;
  line-height: 0.42rem;
  color: #333;
  text-align: center;
  font-size: 0.14rem;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px #ccc;
}
i {
  font-style: normal;
  font-size: 0.14rem;
  background-color: #32c776;
  color: #fff;
  padding: 0 0.08rem;
  border-radius: 0.03rem;
}
.search {
  height: 0.3rem;
  line-height: 0.35rem;
  padding: 0 3%;
}
.search input {
  height: 0.2rem;
  line-height: 0.2rem;
  font-size: 0.12rem;
  color: #c3c3c3;
  text-align: center;
  width: 100%;
  border-radius: 0.1rem;
  border: none;
}
.list {
  height: 0.72rem;
  border: none;
  border-left: 0.06rem solid #dd9622;
  background-color: #fff;
  color: #333;
  font-size: 0.12rem;
  padding: 0.05rem 4.68% 0.05rem 7.18%;
  margin-bottom: 0.02rem;
  position: relative;
}
.list li {
  line-height: 0.24rem;
}
.list .title {
  font-size: 0.14rem;
}
.list .icon_dir {
  position: absolute;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  right: 0;
  background: url('../images/dir.png') no-repeat;
}
footer {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #4778b8;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
footer .footer_option {
  float: right;
  width: 1.015rem;
  height: 0.5rem;
  margin-right: 0.01rem;
}
footer li {
  width: 0.45rem;
  height: 0.5rem;
  float: left;
  margin-left: 0.01rem;
  background-color: #7d8882;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 0.1rem;
}
footer .sort_01 {
  background-image: url('../images/sort_01.png');
}
footer .sort_02 {
  background-image: url('../images/sort_02.png');
}
footer .little {
  width: 0.08rem;
}
.fr {
  float: right;
}
.mr {
  margin-right: 7%;
}
a {
  display: inline-block;
  width: 100%;
}
